html, body {
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
	margin: 0;
	padding: 0;
	background: linear-gradient(
		to right,
		#292929,
		#a1a1a1 40%,
		#a1a1a1 60%,
		#292929
	);
	font: 0.9em "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	position: relative;	
	color: white;
}

b, strong {
	font-weight: bold;
	letter-spacing: 1px;
}

a:link, a:visited {
	text-decoration: none;
	border-bottom: dotted 1px black;
}

a:link, a:visited {
	color: red;
	/*color: #2A5DB0; */
}

a:hover {
	border-bottom: solid 1px red;
}

a:active {
	padding-bottom: 2px;
}

img {
	border: none;
}

table {
	font-size: 1em;
}

.item_name
{
	font-size: 1.25em;
}

.item_name_small
{
	font-size: 1em;
}

.set_bonuses_title
{
	font-size: 1em;
	font-variant: small-caps;
}

/* src: https://codepen.io/ibrahimjabbari/pen/ozinB */
.item_separator { 
  height: 30px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 1px 0 0 0; 
  border-radius: 20px; 
  width: 200px;
  margin-top: 45px;
} 
.item_separator:before { 
  display: block; 
  content: ""; 
  height: 30px; 
  margin-top: -31px; 
  border-style: solid; 
  border-color: #8c8b8b; 
  border-width: 0 0 1px 0; 
  border-radius: 20px; 
}

.ui-autocomplete {
	max-height: 240px;
	overflow-y: auto;
	/* prevent horizontal scrollbar */
	overflow-x: hidden;
}

.item_type
{
	font-size: 0.75em;
}

.gear_type
{
	font-size: 1em;
	font-variant: small-caps;
}

.item_desc
{
	width: 300px;
}

.item_attrs_small
{
	font-size: 0.8em;
}

.attr_title
{
	padding-top: 20px;
}

#rune_table tr, #rune_table td
{
	padding: 10px;
}

.attr_restriction
{
	text-decoration: underline;
}

#attr_table
{
	padding-top: 10px;
	padding-bottom: 30px;
}

th[data-sort]
{
	cursor: pointer;
}

#attr_table td, #attr_table tr
{
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;
	padding-right: 5px;
}

.attr_table_header
{
	text-decoration: underline;
}

.header
{
	text-decoration: underline;
}

.item_selection
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.item_input
{
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.item_header, .item_type
{
	font-variant: small-caps;
}

.field_name
{
	font-size: 0.8em;
}

.unique { color: #908858 !important; }
.set { color: #00c400 !important; }
.attr { color: #4850B8; }
.runeword, .white { color: white !important; }
.rune { color: orange !important; }
.gem { color: purple !important; }
.ethereal { color: gray !important; }

.ui-widget fieldset {
	width: 100px;
	margin: auto;
}

.item_container fieldset {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#character_input {
	color: white;
	background-color: black;
}


input.attr_db {
	color: white;
	background-color: black;
	text-align: center;
	
	/* src: https://css-tricks.com/snippets/css/glowing-blue-input-highlights/ */
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #DDDDDD;
	margin-left: 3px;
}
 
input.attr_db:focus {
  box-shadow: 0 0 5px red; /*rgba(81, 203, 238, 1);*/
  border: 1px solid red; /*rgba(81, 203, 238, 1);*/
}


textarea.item_desc {
	resize: vertical;
}

/* normalize monospace sizing 
 * meyerweb.com/eric/thoughts/2010/02/12/fixed-monospace-sizing/ */
code, pre { font-family: "Courier New", monospace, serif; font-size: 1em; }

/* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
select, input, textarea { color:#444; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:active { outline: none; }
a:focus { outline: thin dotted; }

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }

input[type="text"]::placeholder {  
	/* Firefox, Chrome, Opera */ 
	text-align: center; 
} 

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }

.textLink { cursor: pointer; }

/* www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button { width: auto; overflow: visible; }

#container {
	min-height: 100%;
	margin: 0px auto;
	padding-bottom: 50px;
	width: auto;
	max-width: 512px;
	text-align: center;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	position: relative;
	background: black;
	border-bottom: 1px solid #fff;
}

/*#headerContainer {
	font-size: 1em;	
	border-top: 1px solid #fff;
	border-bottom: 1px solid #bbb;
	text-align: center;
	height: 100px;
    top: 0;
	left: 0;
	right: 0;
	margin: 0px auto;
	width: auto;
}*/

#headerContainer {
	background: black;
	font-size: 1em;	
	border-top: 1px solid #fff;
	text-align: center;
	height: 90px;
	position: fixed;
    top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	margin: 0px auto;
	max-width: 512px;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #bbb;
}

#headerText {
	font-weight: bold;
	font-size: 16px;
}

#contentContainer {
	line-height: 1.4em;
	position: relative;
	z-index: 4;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 90px;
	/*min-height: 385px;*/
}

#contentContainer #content {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 260px;
}

#lowerContainer {
	position: fixed;
    bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	margin: 0px auto;
	width: auto;
	max-width: 512px;
}

#blurContainer {	
 	position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(188, 188, 188, 0.49), rgba(148, 147, 144, 1));
	filter: blur(40px);
}

#footer
{
	width: auto;
	display: block;
	clear: both;
	font-size: 8pt;
	height: 24px;
	background: linear-gradient(
		rgba(247, 247, 247, 0),
		rgba(0, 0, 0, 0.15)
	);
	border-bottom: 1px solid white;
}

#footer p
{
	max-width: 512px;
	margin: 0 auto;
	padding-top: 5px;
	padding-bottom: 5px;
	background: radial-gradient(farthest-side, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}

#footer table {
	padding-left: 5px;
	padding-right: 5px;
}

.leftText {
	text-align: left
}

.rightText {
	text-align: right
}

.centerText {
	text-align: center
}

.rightTable {
	margin-left: auto;
	margin-right: 0px
}

.centerTable {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

img .image-left {
	float: left;
	margin: 3px 3px 3px 0;
	padding: 3px 3px 3px 0;
	position: relative;
	z-index: 5;
}

img .image-right {
	float: right;
	margin: 3px 0 3px 3px;
	padding: 3px 0 3px 3px;
	position: relative;
	z-index: 5;
}

.centerImage {
	display:block; 
	margin-left:auto; 
	margin-right:auto;
}

.fullTable {
	width: 100%;
}

#mainTable {
	margin-top: 20px;
}